.Button {
display: block;
color: white;
padding: 20px;
text-align: center;
background-color: #3F3535;
margin-top: 10px;
}
.Button:hover{
    background-color: #E99CD8;
}
.head{
   margin-top: 10px; 
}

.bodyy{
background-color: #F8F8F8;
}

.fei {
width: 650px;
height: 400px;
    
}


.p {
font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;
}
