.Button {
display: block;
color: white;
padding: 20px;
text-align: center;
background-color: #3F3535;
margin-top: 10px;
}
.Button:hover{
    background-color: #E99CD8;
}
.head{
   margin-top: 10px; 
   white-space: nowrap;
}

.bodyy{
background-color: #fae5e8;
}

.fei {
width: 450px;
height: auto;
    
}


p {
font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;
font-size: 20px;

}
