
.Button {

display: block;

color: white;

padding: 20px;

text-align: center;

background-color: #3F3535;

margin-top: 20px;

}



.Button:hover{

    background-color: #E99CD8;

}

.foo{
    margin-top: 40px;

    font-size: xxx-large;
}

.img{
    margin-top: 20px;
}

.bodyy{
background-color: #fae5e8;
}

.head{
white-space: nowrap;
margin-top: 10px;
}
