.Button {
display: block;
color: white;
padding: 20px;
text-align: center;
background-color: #3F3535;
margin-top: 10px;
}
.Button:hover{
    background-color: #E99CD8;
}
.head{
   margin-top: 10px; 
}

body{
background-color: #C4B5C5;
}

.image{
height: 150px;
width: 200px;
margin-top: 10px;

}
